body 
{
    font-size: 14px;
    line-height: 1.42857;
}

.form-horizontal
{
    border : 1px solid #CCC;
    border-radius : 5px;
    width : 500px;
}

.control-label
{
	width : 150px;
}

.input-group-addon
{
    /*display : inline-block;*/
}

.form-inner
{
    margin : 10px auto;
}

.form-group
{
    margin-bottom : 5px;
}

.form-group select
{
    padding : 6px 3px;
    display : inline;
}

.form-group .param_number input
{
    width : 40%;
    padding : 6px;
}

.form-group th
{
	text-align : center;
}

#param_attack
{
    width : 20%;
}
#param_weapon
{
	
}
#param_renkin
{
	width : 50px;
}
#param_skill_type
{
    width : 40%;
}
#param_skill_level
{
    width : 50%;
}

#param_food_type
{
    width : 45%;
}
#param_food_level
{
    width : 45%;
}

.form-group .param_number input
{
    text-align : right;
    padding-right : 5px;
}

.form-group .param_acs
{
    margin-top  : 4px;
}
.form-group .param_acs select
{
    /*width : 172px;*/
    border-right : none
}

.form-group .param_acs input
{
    /*width : 50px;*/
    text-align : right;
    border-left : none;
    padding : 6px;
}

.form-group .help-block
{
    margin-top : 2px;
    margin-bottom : 3px;
}

@media (max-width: 950px)  
{
	
}

