body 
{
    font-size: 14px;
    font-family : Meiryo UI;
    line-height: 1.42857;
    background : #ffffff;
}

h1
{
    font-size : 1.5em;
}

.container 
{
   width : 1000px;
   padding : 0;
}

#calc_panel
{
    width : 1000px;
    margin-top : 10px;
}

.calc_panel_in
{
    width : 500px;
    float : left;
}

.form-horizontal
{
    border : 1px solid #666;
    border-radius : 5px; 
    margin : 10px 10px 10px 10px;
}

.form-horizontal h2
{
    font-weight : normal;
    font-size : 1em;
    margin-left : 30px;
}

.control-label
{
	width : 150px;
}

.form-inner
{
    margin : 10px auto 20px auto;
}

.form-group
{
    margin-bottom : 5px;
}

.form-group select
{
    padding : 6px 3px;
    display : inline;
}

.form-group .param_number
{
    padding : 6px;
    text-align : right;
}

.form-group th
{
    text-align : right;
    padding-right : 10px;
}

#param_hp, #param_power
{
    
}
#param_guard
{
    width : 20%;
}
#td_skill_type
{
    width : 40%;
}
#td_skill_level
{
    width : 60%;
}
#td_food_type
{
    width : 45%;
}
#td_food_level
{
    width : 55%;
}

.form-group table
{
    width : 100%;
}
.form-group table td
{
    padding : 2px;
}

.form-group .table
{
    border : 1px solid #CCC;
    margin-bottom : 0;
}

.form-group .table th
{
	text-align : center;
	background : #EEE;
	font-weight : normal;
	padding : 2px;
}

.form-group .table td
{
    padding : 2px;
}

.form-group .radio-inline, .form-group .checkbox-inline
{
    margin-bottom : 10px;
    margin-left : 10px;
}

.calc_panel_result
{
    font-size : 1.8em;
}

.calc_panel_result .control-label
{
    margin-top : 0;
    padding-top : 0;
}

.calc_panel_result .calc_panel_result_input
{
    border : none;
    border-bottom : 1px solid #000;
    background : transparent;
}

#td_fb label
{
    margin-bottom : 5px;
}

#td_special_type
{
    width : 40%;
}
#td_special_list
{
    width : 60%;
}

#calc_damage_result
{
    
}

#calc_damage_result .form-inner
{
    position : relative;
    margin-bottom : 10px;
    height : 80px;
}

#calc_damage_result .calc_output
{
    display : none;
}

#calc_damage_result .progress_box
{
    position : absolute;
    left : 0;
    width : 100%;
    height : 20px;
    padding : 15px 20px;
    margin-bottom : 15px;
    bottom : 0px;
}

#damage_range
{
    position : absolute;
    top : 10px;
    left : 20px;
}

#dead_percent
{
    width : 90px;
    height : 90px;
    border-radius : 45px;
    text-align : center;
    padding : 15px;
    position : absolute;
    top : -5px;
    right : 10px;
    background-color : rgba(255,255,255,0.7);
    box-shadow : -5px 0px 5px rgba(255,255,255,0.7); 
}

#dead_percent span
{
    color : #d9534f;
    font-size : 2em;
    display : block;
}


@media (max-width: 1000px)  
{
    .container 
    {
       width : auto;
       padding-right: 15px;
       padding-left: 15px;
    }
    #calc_panel
    {
        margin-bottom : 120px;
        width : 100%;
    }
    .calc_panel_in
    {
        width : auto;
        float : none;
    }
    .form-horizontal
    {
        margin : 0;
        border : none;
        margin-bottom : 40px;
    }
    .form-horizontal h2
    {
        margin : 0;
    }
	.form-inner
    {
        margin : 10px 0px;
    }
    
    .calc_panel_result
    {
        display : none;
    }
    
    #calc_damage_result
    {
        position : fixed;
        z-index : 2;
        border-bottom : 1px solid #666;
        background : rgba(234,229,227, 1);
        box-shadow : 0px -2px 5px rgba(0,0,0,0.5); 
        bottom : 0;
        left : 0;
        width : 100%;
        border-radius : 0;
        margin-bottom : 0px;
    }
    
    #dead_percent
    {
        width : 90px;
        height : 90px;
        border-radius : 45px;
        text-align : center;
        padding : 15px;
        position : absolute;
        top : -5px;
        right : 10px;
        background-color : rgba(234,229,227,0.6);
        box-shadow : 0px 10px 5px rgba(234,229,227,0.6); 
    }
    
    #calc_damage_result .progress_box
    {
        padding : 15px 15px;
        margin-bottom : 10px;
    }
   
}

