body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
"メイリオ", Meiryo, sans-serif;
  font-size: 15px;
  line-height: 1.42857;
}
.container { margin : 20px;  }

@media (max-width: 929px)  
{
    .container { margin : 0px; padding : 5px; }
    .container-fluid { padding : 0px; }
    
}