
.container-fluid { margin : 0px; }
        
.orb_panel { margin : auto; }
.label-success { margin-left : 0.5em; margin-right : 0.5em; }
        
h2 { font-size : 1.2em; line-height : 20px; font-weight :normal; }
.div_orb_result { margin-bottom : 0px; position : relative; top : -1.5em; float : left; width : 400px; margin-right : 20px; }
.orb_panel { background : url(./img/panel.png) no-repeat center; }

.div_orb_list { position : relative; top : -1.5em; float : left; }
.div_border { border : 1px solid #999; padding : 20px; border-radius : 5px; padding : 20px 20px;  }
.border_title { font-size : 1em; position : relative; top : 1.5em; left : 1em; background : #FFF; display : inline-block; padding : 0 0.5em; }
        
.orb_panel { display : block; margin-bottom : 10px; }
select.form-control { height : 32px; padding : 3px; }
.orb_panel_button { width : 270px; margin: auto; text-align : right; }
        
.orb_list { margin-top : 20px; margin-bottom : 30px; }
.orb_elem_type { width : 90px; display : inline-block; height : 32px; }
.orb_row { clear : both; margin : 0 0; min-height : 42px; position :relative; }
.orb_row .orb_list_cell { padding-left : 0px; padding-right : 10px; float : left; margin-bottom : 3px; height : 32px; }
.orb_row .orb_cell_name { width : 250px; }
.orb_row .orb_cell_name select { width : 240px; }
.orb_row .orb_cell_img {  }
.orb_row .alert-inverse { background : #888; color :#CCC; }
.orb_row option { color : #333; background : #FFF; }
.orb_row .orb_cell_delete { margin-bottom : 15px; }
.orb_row .dep_status { position : absolute; left : -9px; top : 9px; display : none; background : rgba(255,255,255,0.7); }
.orb_row .dep_status.glyphicon-ok-circle { color : #5cb85c; }
.orb_row .dep_status.glyphicon-remove { color : #d9534f; }


.orb_list .orb_form { width : 32px; height : 32px; background : url(./img/orbform.png) no-repeat 3px 1px; }
.orb_list .orb_form.type0 { background-position : 3px 1px; }
.orb_list .orb_form.type1 { background-position : -29px 1px; }
.orb_list .orb_form.type2 { background-position : -60px 1px; }
.orb_list .orb_form.type3 { background-position : -90px 1px; }
.orb_list .orb_form.type4 { background-position : 3px -30px; }
.orb_list .orb_form.type5 { background-position : -29px -30px; }
.orb_list .orb_form.type6 { background-position : -60px -30px; }
.orb_list .orb_form.type7 { background-position : -90px -30px; }

.orb_list .not_deployed input { background : #BBB; color : #F00 }

.orb_select { width : 130px; }
.orb_select .orb_form { float: left; border : 1px solid #FFF; border-radius : 2px; }
.orb_select .orb_form:hover { border : 1px solid #b94a48; }
.orb_list_add {  }
        
.message_window { margin-top : 10px; background : #333; padding : 5px; border-radius : 5px; }
.message_window_in { width : auto; font-family : "Open Sans", "Helvetica Neue", Helvetica, "Arial"; font-size : 0.9em; padding : 5px; min-height : 72px;  color : #EEE; border : 2px solid #EEE;  }

footer { clear : both; }
  
@media (max-width: 929px)  
{
    .div_orb_result { float : none; clear : both; margin-right : 0; width : auto; }
    .div_orb_list { float :none; clear : both; top : -1.5em; width : auto; }
    .orb_list { padding : 0px;  }
    
    .orb_row .orb_cell_name { width : 230px; }
    .orb_row .orb_cell_name select { width : 220px; }
}

@media (max-width: 529px)  
{
    .orb_row .orb_cell_level { clear : both; }
    .div_border { padding : 20px 10px; }
    .orb_buttons button span { display : none; }
}