

/* ナビゲーション */
#introduction
{
    width : 929px;
    top : 5px;
    left : 50%;
}

.nav_menu
{
    margin : 20px 5px 5px 5px;
}

.nav_menu a
{
    display : block;
    float : left;
    height : 1em;
    margin-right : 1em;
    margin-bottom : 5px;
}

.nav_menu .clearfix
{
    margin-bottom : 5px;
}

/* メインコンテンツ */
#orb_panel
{
    width : auto;
    clear : both;
}

#orb_panel h2
{
    font-size : 1em;
    line-height : 1em;
    margin-top : 10px;
    margin-bottom : 10px;
}

.fixed_control_in
{
    padding : 10px;
}

/* 石板パネル */
.div_orb_result
{
    width : 400px;
}

.div_orb_result .orb_panel
{
    margin : auto;
    display : block;
    margin-bottom : 10px;
}

.div_orb_result .orb_panel_button
{
    margin : 10px auto 20px auto;
    display : block;
    width : 270px;
    text-align : right;
}

/* メッセージ */
.div_orb_result .message_window { margin : 0;}
.div_orb_result .message_window_in { min-height : 80px; }

/* 宝珠リストコントロールパネル */
.div_orb_control  
{
    width : 529px; 
    background : rgba(255,255,255,0.9); 
    box-shadow : 0 10px 10px 5px rgba(255,255,255,0.9); 
    padding-top : 130px;
    z-index : 9;
}

.orb_list { width : 500px; position : absolute; padding-top : 130px; }
.orb_row { clear : both; margin : 0 0; min-height : 42px; position :relative; }
.orb_row .orb_list_cell { padding-left : 0px; padding-right : 10px; float : left; margin-bottom : 3px; height : 32px; }
.orb_row .orb_cell_name { width : 250px; }
.orb_row .orb_cell_name select { width : 240px; }
.orb_row .orb_cell_img {  }
.orb_row .alert-inverse { background : #888; color :#CCC; }
.orb_row option { color : #333; background : #FFF; }
.orb_row .orb_cell_delete { margin-bottom : 15px; }
.orb_row .dep_status { position : absolute; left : -9px; top : 9px; display : none; background : rgba(255,255,255,0.7); }
.orb_row .dep_status.glyphicon-ok-circle { color : #5cb85c; }
.orb_row .dep_status.glyphicon-remove { color : #d9534f; }

select.form-control { height : 32px; padding : 3px; }

.orb_list .orb_form { width : 32px; height : 32px; background : url(../img/orbform.png) no-repeat 3px 1px; }
.orb_list .orb_form.type0 { background-position : 3px 1px; }
.orb_list .orb_form.type1 { background-position : -29px 1px; }
.orb_list .orb_form.type2 { background-position : -60px 1px; }
.orb_list .orb_form.type3 { background-position : -90px 1px; }
.orb_list .orb_form.type4 { background-position : 3px -30px; }
.orb_list .orb_form.type5 { background-position : -29px -30px; }
.orb_list .orb_form.type6 { background-position : -60px -30px; }
.orb_list .orb_form.type7 { background-position : -90px -30px; }

.orb_select { width : 130px; }
.orb_select .orb_form { float: left; border : 1px solid #FFF; border-radius : 2px; }
.orb_select .orb_form:hover { border : 1px solid #b94a48; }

@media (max-width: 929px)  
{
    
    /* ナビゲーション */
    #introduction { width : auto; }
    
    .div_orb_result, .div_orb_control { width : auto; }
    
    .fixed_control_in { padding : 5px; }
    
    /* 宝珠リストコントロールパネル */
    .div_orb_control { padding-top : 0px; }

    .orb_list
    {
        width : auto;
        position : static;
        padding : 5px;
    }
}

@media (max-width: 529px)  
{

}