.container { margin : 0px auto 20px auto; }
.bookmark_url { width : 90%; }
.panel-default>h2.panel-heading { margin-top : 0px; background-color : #337ab7; border-color : #337ab7; color : #FFF; }
.panel-body { border-bottom : 1px solid #DDD; }
.panel-body:last-child { border-bottom : 0px solid #DDD; }
.panel-body>ul { margin-top : 20px; padding-bottom : 10px; }
.panel-body li { margin-top : 10px; }
.alert a { text-decoration : underline; }
.url_copy { width : 95%; height : 120px; margin : 10px  auto; }
dl { margin : 0px auto 20px 10px; }
dt { margin-top : 10px; }
dd { margin-left : 30px; margin-right : 10px; display : list-item; list-style-type : disc; }

.table{ width : auto; margin : 5px 20px 5px 20px; }
.table address { margin-bottom : 0; }

footer { margin : 0px; }
@media (max-width: 992px)   
{
    .panel-body { padding : 5px; }
    .panel-body>ul { margin : 10px auto 10px auto; padding-left : 35px;}
    .thumbnail { margin-top : 0px; margin-bottom : 20px; }
}
@media (max-width: 767px)   
{
	.panel { border-bottom : 0; }
    .panel-heading { border-radius : 0px; }
    .container { margin : 0px; }
    .container h1 { margin : 10px 5px; }
    .container .alert { margin : 10px 5px; }
    footer { margin : 15px; }
}